@import 'MediaQuery';

.About {

    &__container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: var(--font-size-small);
        background-color: var(--color-white);
        color: var(--color-grey-darker);

        @include respond(tabland) {
            margin: .5rem;
            box-shadow: var(--shadow-solid);
        }
    }

    &__header {
        width: 100%;
        margin: 0;
        color: var(--color-grey-dark);
        font-weight: 600;
    }

    &__text {
        font-size: var(--font-size-small);
    }

    &__tagline {
        font-weight: 600;
    }

    &__green {
        color: var(--color-primary);
    }
}