@import 'MediaQuery';

.ProductListing {

    &__container {
        display: flex;
        font-size: var(--font-size-small);
        border-bottom: .1rem solid var(--color-grey-light);
        cursor: pointer;

        @include respond(tabport) {
            padding: 0 1rem;
        }
    }

    &__detail-container {
        flex: 1;
        padding: .8rem .5rem;
    }

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 8rem;
        text-align: center;

        @include respond(tabport) {
            width: 9rem;
            height: 9rem;
        }
    }

    &__image {
        padding: .5rem;
        max-width: 7rem;
        max-height: 7rem;
        object-fit: contain;

        @include respond(tabport) {
            max-width: 8rem;
            max-height: 8rem;
        }
    }

    &__header {
        font-size: var(--font-size-small);
        font-weight: 400;
        margin: 0;
    }

    &__category {
        font-size: var(--font-size-smaller);
        margin: 0 0 .5rem 0;;
        color: var(--color-grey-dark);
    }

    &__price-container {
        display: flex;
        justify-content: space-between;
        padding-right: .8rem;

        & p {
            font-size: var(--font-size-smaller);
            margin: .1rem 0;
        }
    }
}