@import 'MediaQuery';

.SearchDropdown {
    
    &__list {
        position: absolute;
        top: 100%;
        width: 95%;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--color-white);
        border-left: 1px solid var(--color-grey-mid);
        border-right: 1px solid var(--color-grey-mid);
        border-bottom: 1px solid var(--color-grey-mid);

        @include respond(tabland) {
            width: 28rem;
        }
    }

    &__list-item {
        padding: .2rem .5rem;
        border-top: 1px solid var(--color-grey-light);
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: var(--color-grey-light);
        }
    }

    &__item-name {
        width: 100%;
        color: var(--color-primary-dark);
        font-size: var(--font-size-small);
        font-weight: 600;
        margin: 0;
        text-overflow: clip;
    }

    &__cat {
        font-size: var(--font-size-smaller);
        color: var(--color-grey-dark);
        font-weight: 400;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__text {
        font-size: var(--font-size-smaller);
        color: var(--color-black);
        margin: 0;

        & span {
            font-weight: 600;
        }

        &:first-child {
            @include respond(phone) {
                width: 100%;
            }
        }
    }
}

//React Transitions
.dropdown-transition {

    &-enter {
        opacity: 0.01;
    }

    &-enter-active {
        opacity: 1;
        transition: all 200ms;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0.01;
        transition: all 200ms;
    }
}