* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

*:link,
*:active,
*:visited {
  text-decoration: none;
  color: var(--color-black);
}

.App {

  &__container {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
  }

  &__top-padding {
    padding-top: 3rem;
  }
}
