.ProductDetail {

    &__add-button {
        flex: 1;
        height: 2.5rem;
        margin: 0 .5rem .2rem .5rem;
        background-color: var(--color-primary);
        border: none;
        border-bottom: .1rem solid var(--color-primary-dark);
        color: var(--color-white);
        font-size: var(--font-size-reg);
        font-weight: 600;
    }

    &__category {
        margin: 0 .5rem;
        color: var(--color-grey-dark);
    }

    &__container {
        width: 100vw;
        background-color: var(--color-white);
    }

    &__detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__details {
        width: 100%;
    }

    &__image {
        max-width: 18rem;
        max-height: 18rem;
        object-fit: contain;
        margin: 1rem;
    }

    &__name {
        font-size: var(--font-size-semilarge);
        margin: 0 .5rem;
    }

    &__price-container {
        margin: 0 .5rem;
    }

    &__stock {
        color: var(--color-primary-dark);
        font-size: var(--font-size-semilarge);
        margin: .2rem 0;
    }

    &__stock-box {
        margin: .5rem;
        border-top: .1rem solid var(--color-grey-light);
        border-bottom: .1rem solid var(--color-grey-light);
    }

    &__text {
        margin: .2rem 0;
    }
}