.SearchDropdown {
    
    &__list {
        position: absolute;
        top: 100%;
        width: 95%;
        max-height: 13.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--color-white);
        border-left: 1px solid var(--color-grey-mid);
        border-right: 1px solid var(--color-grey-mid);
        border-bottom: 1px solid var(--color-grey-mid);
    }

    &__list-item {
        height: 4.5rem;
        padding: .2rem .5rem;
        border-top: 1px solid var(--color-grey-light);
        cursor: pointer;
    }

    &__item-name {
        width: 100%;
        height: 1.5rem;
        color: var(--color-primary-dark);
        font-size: var(--font-size-small);
        font-weight: 600;
        margin: 0;
        text-overflow: clip;
        overflow: hidden;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-size: var(--font-size-smaller);
        color: var(--color-black);
        margin: 0;

        & span {
            font-weight: 600;
        }
    }
}