:root {
    //COLORS
    --color-primary: #F7A727;
    --color-primary-dark: #E59500;
    --color-white: #fff;
    --color-grey-lighter: #f9f9f9;
    --color-grey-light: #eee;
    --color-grey-mid: #999;
    --color-grey-dark: #555;
    --color-grey-darker: #333;
    --color-black: #000;

    //FONTS
    --font-size-larger: 2rem;
    --font-size-large: 1.2rem;
    --font-size-reg: 1rem;
    --font-size-small: .9rem;
    --font-sizer-smaller: .8rem;
}