:root {
    //COLORS
    --color-primary-light: #3ce63c;
    --color-primary: #35cc35;
    --color-primary-dark: #29a629;
    --color-white: #fff;
    --color-grey-lighter: #f9f9f9;
    --color-grey-light: #eee;
    --color-grey-midlight: #ccc;
    --color-grey-mid: #999;
    --color-grey-dark: #555;
    --color-grey-darker: #333;
    --color-black: #000;

    //FONTS
    --font-size-larger: 2rem;
    --font-size-large: 1.3rem;
    --font-size-semilarge: 1.2rem;
    --font-size-reg: 1.1rem;
    --font-size-small: 1rem;
    --font-size-smaller: .9rem;
    --font-size-smallest: .8rem;
}